<h2 class="headerbox">edit profile</h2>

<form action="/users/{{user.id}}/edit-profile" method="POST" id="form-container" >

  <div class="passwordinput">
    <label for="fullName">Full Name</label>
    <input id="fullName" type="text" maxlength="19" value="{{user.fullName}}" name="fullName" required>
  </div>

  {{!-- <div>
    <label for="email">Email</label>
    <input id="email" type="email" value="{{user.email}}" name="email" required>
  </div> --}}

  <div class="commentboxsignup">
    <label for="bio">bio</label>
    <textarea id="bio" name="bio" id="bio" cols="30" rows="10">{{user.bio}}</textarea>
  </div>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <div class="commentbtn">
    <button>Update account</button>
  </div>

</form>