
<h1 class="headerboxprofile">{{user.fullName}}</h1>

<section>
<div class="userprofilecard">
    <img class="profileimage" src={{user.profileImgUrl}} alt="">
    <a href="/users/{{user.id}}/edit-profile-picture">Change Pictue</a>
    <p>{{user.bio}}</p>
  <div>
    <a href="/users/{{user.id}}/edit-profile">Edit Profile</a>
  </div>
</div>
</section>
<hr>

{{#if user.isartist }}
    <h2 class="headerbox">My Gallery</h2>
  <div class="uploadartbutton">
      <a class="uploadnewart" href="/create-art">Upload New Art</a></li>
  </div>
{{/if}}


<section class="profileArtcontainer">
  {{#each artarr}}
  <div class="profileartcards">
    <h2>{{this.title}}</h2>
    <img class="artimageprofile" src="{{this.imageUrl}}" alt="">
    <p> {{this.description}}</p>
    <div class="editdelete">
      <a href="/art/{{id}}/edit">Edit Art</a>
      <form action="/art/{{id}}/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  {{/each}}
</section>
