<section>
  <h1>All Art </h1>

<form action="/search-art" method="POST" >
  <div>
    <label for="search">Search for Art by title</label>
    <input type="text" placeholder="Search..">
  </div>
  <div>
    <button>Start Search</button>
  </div>
</form>



  
  {{#each art}}
  <article>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <div class="artimage">
        <img src={{imageUrl}} alt="">
    </div>

    <br>

    <a href="/art/{{id}}/details">See Details</a>

    <a href="/contact">contact artist</a>


    
    

    {{#if contact}}
    <div>
      <h3>Reviews for this Artwork</h3>
      <ul>
        {{#each contact}}
        <li>
          <div>
            <p>{{this.contact}}</p>
            <p>Written by: {{this.user.fullName}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
      <hr>
    </div>
    {{else}}
    <h3>There are no reviews for this art yet!</h3>
    {{/if}}

  </article>
  {{/each}}
</section>