<section>
  <h1>All Art </h1>




  
  {{#each art}}
  <article>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <div class="artimage">
        <img src={{imageUrl}} alt="">
    </div>

    <br>

    <a href="/art/{{id}}/details">See Details</a>


    
    

    {{#if contact}}
    <div>
      <h3>Reviews for this Artwork</h3>
      <ul>
        {{#each contact}}
        <li>
          <div>
            <p>{{this.contact}}</p>
            <p>Written by: {{this.user.fullName}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
      <hr>
    </div>
    {{else}}
    <h3>There are no reviews for this art yet!</h3>
    {{/if}}

  </article>
  {{/each}}
</section>