
<section class="artdetailscontainer">
  <div class="artdetails-box">
  <h1>{{artResults.title}}</h1>
    <div class="artimagebig">
          <img src={{artResults.imageUrl}} alt="">
      </div>
    {{#if user}}
    <h3 class="artdetailsh3">Details</h3>
    <p class="artdetailsp">{{artResults.description}}</p>
    <p class="artdetailsp">{{artResults.medium}}</p>
    <p class="artdetailsp"> price €{{artResults.price}},-</p>
  </div>

  <div class="artdetailsrating">
    <h3>Rate this incredible piece</h3>
  <form class="passwordinput" action="/art/{{artResults.id}}/add-rating" method="post">
    <label for="rating">Rating</label>
    <select id="rating" name="rating" required>
    <option value="1">1 stars</option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
    </select>
  <button type="submit">Submit</button>
  </form>
{{#if roundednr}}
  <div>
    <h4>This piece gets an average</h4>
    <h2>{{roundednr}}</h2>
    <h4>stars</h4>
    {{#if artResults.onestar}}
    <img class="star" src="/images/gold_star.png" alt="">
    {{/if}}
    {{#if artResults.twostar}}
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    {{/if}}
    {{#if artResults.treestar}}
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    {{/if}}
    {{#if artResults.fourstar}}
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    {{/if}}
    {{#if artResults.fivestar}}
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    <img class="star" src="/images/gold_star.png" alt="">
    {{/if}}
  </div>
{{else}}
<div>
  <h4>Be the first to rate this piece</h4>
</div>
{{/if}}
</div>
<div>

    <h3>Leave a Comment</h3>
    <div class="commentbox">
      <form class="commentbtn" action="/art/{{artResults.id}}/add-contact" method="post">
        <textarea name="contact" cols="30" rows="10" placeholder="Type your comment here ..."></textarea>
        <button type="submit">Submit</button>
      </form>
      <div class="contactartistemail">
        <h5>Interested in purchasing this piece, contact the artist by email</h5>
        <a class="alink" href="/{{artResults.id}}/contact">Email Artist</a>
      </div>
    </div>
  </div>
  {{else}}
  <div class="contactartistbtn">
    <p class="signuptext">To see more details or for contact options login is required!</p>
    <a class="alink"href="/login">login</a>
    <a class="alink"href="/signup">Signup</a>
  </div>
  {{/if}}
   <div class="commentscontainer"></div>
  {{#if contact}}
      <div>
      <h3 class="artdetailsh3">Comments for this Artwork</h3>
      
      
        {{#each contact}}
          <div class="commentcontainer">
            <div class="comments">
              <p>{{this.contact}}</p>
              <p>Written by: {{this.user.fullName}}</p>
              <hr>
            </div>
          </div>
        {{/each}}
    {{/if}}
    </div>
  </div>
  

</section>