<section>
  <h1>The details of the room : {{artResult.name}}</h1>
  <p>{{artResult.description}}</p>
   <div class="artimage">
        <img src={{artResult.imageUrl}} alt="">
    </div>

  <br>

  {{#if artResult.isOwner}}
  <a href="/art/{{artResult.id}}/edit">Edit</a>

  <hr>
  {{/if}}

  {{#unless artResult.isOwner}}
  <div>
    <h3>Add a review:</h3>

    <form action="/art/{{artResult.id}}/add-review" method="post">
      <textarea name="review" cols="30" rows="10"></textarea>
      <button type="submit">Add contact</button>
    </form>

  </div>
  {{/unless}}



</section>