
<section class="artdetailscontainer">
<div class="artdetails-box">
 <h1>{{artResults.title}}</h1>
  <div class="artimagebig">
        <img src={{artResults.imageUrl}} alt="">
    </div>
  {{#if user}}
<hr>
  <h3 class="artdetails">Details</h3>
  <hr>
  <p class="artdetails">{{artResults.description}}</p>
  <p class="artdetails">{{artResults.medium}}</p>
  <p class="artdetails"> price €{{artResults.price}},-</p>
</div>

  <div class="commentboxcontainer">
    <h3>Rate this incredible piece</h3>
  <form class="passwordinput" action="/art/{{artResults.id}}/add-rating" method="post">
    <label for="rating">Rating</label>
    <select id="rating" name="rating" required>
    <option value="1">1 stars</option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
    </select>
  <button type="submit">Submit</button>
  </form>

<div>
  <h4>This piece gets an average</h4>
  <h4>{{roundednr}}</h4>
  <h4>stars</h4>
</div>


    <h3>Leave a Comment</h3>
    <div class="commentbox">
      <form class="commentbtn" action="/art/{{artResults.id}}/add-contact" method="post">
        <textarea name="contact" cols="30" rows="10" placeholder="Type your comment here ..."></textarea>
        <button type="submit">Submit</button>
      </form>
      <div class="contactartistbtn">
        <a href="/{{artResults.id}}/contact">Email Artist</a>
      </div>
    </div>
  </div>
  {{else}}
  <div class="contactartistbtn">
    <p class="signuptext">To see more details or for contact options login is required!</p>
    <a href="/login">login</a>
    <a href="/signup">Signup</a>
  </div>
  {{/if}}
   <div class="commentscontainer"></div>
  {{#if contact}}
      <div>
      <h3 class="artdetailsh3">Comments for this Artwork</h3>
      
      
        {{#each contact}}
          <div class="commentcontainer">
            <div class="comments">
              <p>{{this.contact}}</p>
              <p>Written by: {{this.user.fullName}}</p>
              <hr>
            </div>
          </div>
        {{/each}}
      
    
    {{else}}
    <h3>There are no reviews for this art yet!</h3>
    {{/if}}
    </div>
  </div>
  

</section>